body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
	background-color:rgb(46, 46, 49);
}
body::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
	background-color:rgb(46, 46, 49);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card{
	margin:4px;
	border:0px;
}

.img-area{
height: fit-content;
}

.img-wrapper
{
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 400px;
	width: 300px;
	filter: grayscale(40%);
	transition: 1.5s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
}

.img-wrapper .content
{
  background: rgb(95, 95, 95);
  height: fit-content;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: .3s;
}

.img-wrapper:hover .content
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li .like
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li .unlike
{
	color: white;
	background: rgba(255,255,255,0);
}

.cardClass{
  margin: 4px;
  padding: 0px;
}
.myImg {
  text-indent: -9999px;
  display: none;
  }

.fontAwesomeClass{
  font-size: 30px;
  color:white;
  cursor: pointer;
}

.registerFormClass{
	width: 500px;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left:-250px;
	background-color:white !important ;
	border-radius: 1rem;
	border-left: 0 solid #8a9290;
	transition: border-left 200ms ease-in-out;
}

.loginFormClass{
	width: 500px;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left:-250px;
	background-color:white !important ;
	border-radius: 1rem;
	border-left: 0 solid #8a9290;
	transition: border-left 200ms ease-in-out;
}

.loginFormClass:hover {
	padding-left: 3rem;
	border-left: 3rem solid #50927c;
  }

  .loginFormClass > :first-child {
	margin-top: 0;
  }
  
  .loginFormClass > :last-child {
	margin-bottom: 0;
  }

  .display-4{
	  color: white;
  }
  

  .chart{
	width:600px;
	background-color:rgb(223, 223, 223);
	margin:0px auto;
	margin-top:5px;
	border-radius:10px;
  }

  .alert{
	  margin: 0px !important;
	  padding: 5px;
  }